/*
*
* name: Everforest Dark Soft
* author: Sainnhe Park (https://github.com/sainnhe)
* slug: everforest-dark-soft
* slug-underscored: everforest_dark_soft
* system: base16
* variant: dark
*
*/

window {
    background-color: #333c43;
    border-color: #7fbbb3;
}

button,
image {
    color: #9da9a0;
}

button:hover {
    background-color: rgba(243, 234, 211, 0.4);
}
