/*
*
* name: Framer
* author: Framer (Maintained by Jesse Hoyos)
* slug: framer
* slug-underscored: framer
* system: base16
* variant: dark
*
*/

window {
    background-color: #181818;
    border-color: #20bcfc;
}

button,
image {
    color: #b9b9b9;
}

button:hover {
    background-color: rgba(238, 238, 238, 0.4);
}
