/*
*
* name: Valua
* author: Nonetrix (https://github.com/nonetrix)
* slug: valua
* slug-underscored: valua
* system: base16
* variant: dark
*
*/

window {
    background-color: #131f1f;
    border-color: #4ed2d2;
}

button,
image {
    color: #6d9877;
}

button:hover {
    background-color: rgba(170, 203, 203, 0.4);
}
