/*
*
* name: Material Lighter
* author: Nate Peterson
* slug: material-lighter
* slug-underscored: material_lighter
* system: base16
* variant: light
*
*/

window {
    background-color: #fafafa;
    border-color: #6182b8;
}

button,
image {
    color: #8796b0;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
