/*
*
* name: PaperColor Dark
* author: Jon Leopard (http://github.com/jonleopard), Tinted Theming (https://github.com/tinted-theming), based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
* slug: papercolor-dark
* slug-underscored: papercolor_dark
* system: base16
* variant: dark
*
*/

window {
    background-color: #1c1c1c;
    border-color: #5fafd7;
}

button,
image {
    color: #808080;
}

button:hover {
    background-color: rgba(208, 208, 208, 0.4);
}
