/*
*
* name: Embers
* author: Jannik Siebert (https://github.com/janniks)
* slug: embers
* slug-underscored: embers
* system: base16
* variant: dark
*
*/

window {
    background-color: #16130f;
    border-color: #6d5782;
}

button,
image {
    color: #8a8075;
}

button:hover {
    background-color: rgba(219, 214, 209, 0.4);
}
