/*
*
* name: Solar Flare Light
* author: Chuck Harmston (https://chuck.harmston.ch)
* slug: solarflare-light
* slug-underscored: solarflare_light
* system: base16
* variant: light
*
*/

window {
    background-color: #f5f7fa;
    border-color: #33b5e1;
}

button,
image {
    color: #667581;
}

button:hover {
    background-color: rgba(24, 38, 47, 0.4);
}
