/*
*
* name: Brush Trees
* author: Abraham White <abelincoln.white@gmail.com>
* slug: brushtrees
* slug-underscored: brushtrees
* system: base16
* variant: light
*
*/

window {
    background-color: #e3efef;
    border-color: #868cb3;
}

button,
image {
    color: #8299a1;
}

button:hover {
    background-color: rgba(72, 88, 103, 0.4);
}
