/*
*
* name: Flexoki Light
* author: Steph Ango (https://github.com/kepano/flexoki)
* slug: flexoki-light
* slug-underscored: flexoki_light
* system: base16
* variant: light
*
*/

window {
    background-color: #fffcf0;
    border-color: #205ea6;
}

button,
image {
    color: #9f9d96;
}

button:hover {
    background-color: rgba(16, 15, 15, 0.4);
}
