/*
*
* name: Tokyo Night Storm
* author: Michaël Ball
* slug: tokyo-night-storm
* slug-underscored: tokyo_night_storm
* system: base16
* variant: dark
*
*/

window {
    background-color: #24283b;
    border-color: #2ac3de;
}

button,
image {
    color: #787c99;
}

button:hover {
    background-color: rgba(213, 214, 219, 0.4);
}
