/*
*
* name: Penumbra Light
* author: Zachary Weiss (https://github.com/zacharyweiss)
* slug: penumbra-light
* slug-underscored: penumbra_light
* system: base16
* variant: light
*
*/

window {
    background-color: #fffdfb;
    border-color: #5794d0;
}

button,
image {
    color: #8f8f8f;
}

button:hover {
    background-color: rgba(36, 39, 43, 0.4);
}
