/*
*
* name: Stella
* author: Shrimpram
* slug: stella
* slug-underscored: stella
* system: base16
* variant: dark
*
*/

window {
    background-color: #2b213c;
    border-color: #a5aad4;
}

button,
image {
    color: #7f7192;
}

button:hover {
    background-color: rgba(235, 220, 255, 0.4);
}
