/*
*
* name: Tokyo Night Dark
* author: Michaël Ball
* slug: tokyo-night-dark
* slug-underscored: tokyo_night_dark
* system: base16
* variant: dark
*
*/

window {
    background-color: #1a1b26;
    border-color: #2ac3de;
}

button,
image {
    color: #787c99;
}

button:hover {
    background-color: rgba(213, 214, 219, 0.4);
}
