/*
*
* name: Darktooth
* author: Jason Milkins (https://github.com/jasonm23)
* slug: darktooth
* slug-underscored: darktooth
* system: base16
* variant: dark
*
*/

window {
    background-color: #1d2021;
    border-color: #0d6678;
}

button,
image {
    color: #928374;
}

button:hover {
    background-color: rgba(253, 244, 193, 0.4);
}
