/*
*
* name: Apathy
* author: Jannik Siebert (https://github.com/janniks)
* slug: apathy
* slug-underscored: apathy
* system: base16
* variant: dark
*
*/

window {
    background-color: #031a16;
    border-color: #96883e;
}

button,
image {
    color: #5f9c92;
}

button:hover {
    background-color: rgba(210, 231, 228, 0.4);
}
