/*
*
* name: Solar Flare
* author: Chuck Harmston (https://chuck.harmston.ch)
* slug: solarflare
* slug-underscored: solarflare
* system: base16
* variant: dark
*
*/

window {
    background-color: #18262f;
    border-color: #33b5e1;
}

button,
image {
    color: #85939e;
}

button:hover {
    background-color: rgba(245, 247, 250, 0.4);
}
