/*
*
* name: Nord
* author: arcticicestudio
* slug: nord
* slug-underscored: nord
* system: base16
* variant: dark
*
*/

window {
    background-color: #2e3440;
    border-color: #81a1c1;
}

button,
image {
    color: #d8dee9;
}

button:hover {
    background-color: rgba(143, 188, 187, 0.4);
}
