/*
*
* name: booshnickle dark
* author: Honey D (@honeydbeatz)
* slug: booshnickle-dark
* slug-underscored: booshnickle_dark
* system: base16
* variant: dark
*
*/

window {
    background-color: #191914;
    border-color: #ccbfd9;
}

button,
image {
    color: #9c9c7d;
}

button:hover {
    background-color: rgba(255, 255, 204, 0.4);
}
