/*
*
* name: Github
* author: Tinted Theming (https://github.com/tinted-theming)
* slug: github
* slug-underscored: github
* system: base16
* variant: light
*
*/

window {
    background-color: #eaeef2;
    border-color: #218bff;
}

button,
image {
    color: #6e7781;
}

button:hover {
    background-color: rgba(31, 35, 40, 0.4);
}
