/*
*
* name: Material
* author: Nate Peterson
* slug: material
* slug-underscored: material
* system: base16
* variant: dark
*
*/

window {
    background-color: #263238;
    border-color: #82aaff;
}

button,
image {
    color: #b2ccd6;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
