/*
*
* name: Edge Dark
* author: cjayross (https://github.com/cjayross), Tinted Theming (https://github.com/tinted-theming)
* slug: edge-dark
* slug-underscored: edge_dark
* system: base16
* variant: dark
*
*/

window {
    background-color: #262729;
    border-color: #73b3e7;
}

button,
image {
    color: #95989d;
}

button:hover {
    background-color: rgba(228, 229, 230, 0.4);
}
