/*
*
* name: Ayu Mirage
* author: Tinted Theming (https://github.com/tinted-theming), Ayu Theme (https://github.com/ayu-theme)
* slug: ayu-mirage
* slug-underscored: ayu_mirage
* system: base16
* variant: dark
*
*/

window {
    background-color: #1f2430;
    border-color: #73d0ff;
}

button,
image {
    color: #707a8c;
}

button:hover {
    background-color: rgba(243, 244, 245, 0.4);
}
