/*
*
* name: XCode Dusk
* author: Elsa Gonsiorowski (https://github.com/gonsie)
* slug: xcode-dusk
* slug-underscored: xcode_dusk
* system: base16
* variant: dark
*
*/

window {
    background-color: #282b35;
    border-color: #790ead;
}

button,
image {
    color: #7e8086;
}

button:hover {
    background-color: rgba(190, 191, 194, 0.4);
}
