/*
*
* name: Tokyo City Dark
* author: Michaël Ball
* slug: tokyo-city-dark
* slug-underscored: tokyo_city_dark
* system: base16
* variant: dark
*
*/

window {
    background-color: #171d23;
    border-color: #7aa2f7;
}

button,
image {
    color: #b7c5d3;
}

button:hover {
    background-color: rgba(251, 251, 253, 0.4);
}
