/*
*
* name: Edge Light
* author: cjayross (https://github.com/cjayross), Tinted Theming (https://github.com/tinted-theming)
* slug: edge-light
* slug-underscored: edge_light
* system: base16
* variant: light
*
*/

window {
    background-color: #fafafa;
    border-color: #6587bf;
}

button,
image {
    color: #5e646f;
}

button:hover {
    background-color: rgba(46, 46, 56, 0.4);
}
