/*
*
* name: Eldritch
* author: https://github.com/eldritch-theme
* slug: eldritch
* slug-underscored: eldritch
* system: base16
* variant: dark
*
*/

window {
    background-color: #212337;
    border-color: #39ddfd;
}

button,
image {
    color: #a1abe0;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
