/*
*
* name: Github Dark Dimmed
* author: Tinted Theming (https://github.com/tinted-theming)
* slug: github-dark-dimmed
* slug-underscored: github_dark_dimmed
* system: base16
* variant: dark
*
*/

window {
    background-color: #22272e;
    border-color: #dcbdfb;
}

button,
image {
    color: #768390;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
