/*
*
* name: Horizon Terminal Dark
* author: Michaël Ball (http://github.com/michael-ball/)
* slug: horizon-terminal-dark
* slug-underscored: horizon_terminal_dark
* system: base16
* variant: dark
*
*/

window {
    background-color: #1c1e26;
    border-color: #26bbd9;
}

button,
image {
    color: #9da0a2;
}

button:hover {
    background-color: rgba(227, 230, 238, 0.4);
}
