/*
*
* name: Github Dark High Contrast
* author: Tinted Theming (https://github.com/tinted-theming)
* slug: github-dark-high-contrast
* slug-underscored: github_dark_high_contrast
* system: base16
* variant: dark
*
*/

window {
    background-color: #0a0c10;
    border-color: #dbb7ff;
}

button,
image {
    color: #bdc4cc;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
