/*
*
* name: Aztec
* author: TheNeverMan (github.com/TheNeverMan)
* slug: aztec
* slug-underscored: aztec
* system: base16
* variant: dark
*
*/

window {
    background-color: #101600;
    border-color: #5b4a9f;
}

button,
image {
    color: #ffd129;
}

button:hover {
    background-color: rgba(255, 235, 160, 0.4);
}
