/*
*
* name: Github Light Colorblind
* author: Tinted Theming (https://github.com/tinted-theming)
* slug: github-light-colorblind
* slug-underscored: github_light_colorblind
* system: base16
* variant: light
*
*/

window {
    background-color: #ffffff;
    border-color: #8250df;
}

button,
image {
    color: #6e7781;
}

button:hover {
    background-color: rgba(36, 41, 47, 0.4);
}
