/*
*
* name: Sparky
* author: Leila Sother (https://github.com/mixcoac)
* slug: sparky
* slug-underscored: sparky
* system: base16
* variant: dark
*
*/

window {
    background-color: #072b31;
    border-color: #4698cb;
}

button,
image {
    color: #00778b;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
