/*
*
* name: Kissa Macchiato
* author: rwendell (https://github.com/rwendell/kissa)
* slug: kissa-macchiato
* slug-underscored: kissa_macchiato
* system: base16
* variant: dark
*
*/

window {
    background-color: #1f1c16;
    border-color: #7fa8d4;
}

button,
image {
    color: #d4c4a8;
}

button:hover {
    background-color: rgba(254, 244, 228, 0.4);
}
