/*
*
* name: eris
* author: ed (https://codeberg.org/ed), Tinted Theming (https://github.com/tinted-theming)
* slug: eris
* slug-underscored: eris
* system: base16
* variant: dark
*
*/

window {
    background-color: #0a0920;
    border-color: #258fc4;
}

button,
image {
    color: #4a5293;
}

button:hover {
    background-color: rgba(154, 170, 229, 0.4);
}
