/*
*
* name: Mezcal
* author: Teshre
* slug: mezcal
* slug-underscored: mezcal
* system: base16
* variant: dark
*
*/

window {
    background-color: #13110e;
    border-color: #8aa6c0;
}

button,
image {
    color: #a79e8c;
}

button:hover {
    background-color: rgba(242, 234, 214, 0.4);
}
