/*
*
* name: Tokyo Night Light
* author: Michaël Ball
* slug: tokyo-night-light
* slug-underscored: tokyo_night_light
* system: base16
* variant: light
*
*/

window {
    background-color: #d5d6db;
    border-color: #34548a;
}

button,
image {
    color: #4c505e;
}

button:hover {
    background-color: rgba(26, 27, 38, 0.4);
}
