/*
*
* name: Oxocarbon Dark
* author: shaunsingh/IBM, Tinted Theming (https://github.com/tinted-theming)
* slug: oxocarbon-dark
* slug-underscored: oxocarbon_dark
* system: base16
* variant: dark
*
*/

window {
    background-color: #161616;
    border-color: #33b1ff;
}

button,
image {
    color: #dde1e6;
}

button:hover {
    background-color: rgba(8, 189, 186, 0.4);
}
