/*
*
* name: Ayu Dark
* author: Tinted Theming (https://github.com/tinted-theming), Ayu Theme (https://github.com/ayu-theme)
* slug: ayu-dark
* slug-underscored: ayu_dark
* system: base16
* variant: dark
*
*/

window {
    background-color: #0b0e14;
    border-color: #59c2ff;
}

button,
image {
    color: #bfbdb6;
}

button:hover {
    background-color: rgba(242, 240, 231, 0.4);
}
