/*
*
* name: Github Light High Contrast
* author: Tinted Theming (https://github.com/tinted-theming)
* slug: github-light-high-contrast
* slug-underscored: github_light_high_contrast
* system: base16
* variant: light
*
*/

window {
    background-color: #ffffff;
    border-color: #622cbc;
}

button,
image {
    color: #66707b;
}

button:hover {
    background-color: rgba(14, 17, 22, 0.4);
}
