/*
*
* name: Horizon Light
* author: Michaël Ball (http://github.com/michael-ball/)
* slug: horizon-light
* slug-underscored: horizon_light
* system: base16
* variant: light
*
*/

window {
    background-color: #fdf0ed;
    border-color: #da103f;
}

button,
image {
    color: #948c8a;
}

button:hover {
    background-color: rgba(32, 28, 29, 0.4);
}
