/*
*
* name: Heetch Light
* author: Geoffrey Teale (tealeg@gmail.com), Tinted Theming (https://github.com/tinted-theming)
* slug: heetch-light
* slug-underscored: heetch_light
* system: base16
* variant: light
*
*/

window {
    background-color: #feffff;
    border-color: #5ba2b6;
}

button,
image {
    color: #7b6d8b;
}

button:hover {
    background-color: rgba(25, 1, 52, 0.4);
}
