/*
*
* name: Github Dark
* author: Tinted Theming (https://github.com/tinted-theming)
* slug: github-dark
* slug-underscored: github_dark
* system: base16
* variant: dark
*
*/

window {
    background-color: #161b22;
    border-color: #388bfd;
}

button,
image {
    color: #8b949e;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
