/*
*
* name: Ashes
* author: Jannik Siebert (https://github.com/janniks)
* slug: ashes
* slug-underscored: ashes
* system: base16
* variant: dark
*
*/

window {
    background-color: #1c2023;
    border-color: #ae95c7;
}

button,
image {
    color: #adb3ba;
}

button:hover {
    background-color: rgba(243, 244, 245, 0.4);
}
