/*
*
* name: boo-shnickle-light
* author: boo-shnickle (@boo_shnickle)
* slug: boo-shnickle-light
* slug-underscored: boo_shnickle_light
* system: base16
* variant: light
*
*/

window {
    background-color: #ffffcc;
    border-color: #bfbfd9;
}

button,
image {
    color: #7c7c63;
}

button:hover {
    background-color: rgba(25, 25, 20, 0.4);
}
