/*
*
* name: Nova
* author: George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com)
* slug: nova
* slug-underscored: nova
* system: base16
* variant: dark
*
*/

window {
    background-color: #3c4c55;
    border-color: #83afe5;
}

button,
image {
    color: #899ba6;
}

button:hover {
    background-color: rgba(85, 104, 115, 0.4);
}
