/*
*
* name: Pasque
* author: Gabriel Fontes (https://github.com/Misterio77)
* slug: pasque
* slug-underscored: pasque
* system: base16
* variant: dark
*
*/

window {
    background-color: #271c3a;
    border-color: #8e7dc6;
}

button,
image {
    color: #bebcbf;
}

button:hover {
    background-color: rgba(187, 170, 221, 0.4);
}
