/*
*
* name: Dracula
* author: clach04 (https://github.com/clach04)
* slug: dracula
* slug-underscored: dracula
* system: base16
* variant: dark
*
*/

window {
    background-color: #282a36;
    border-color: #bd93f9;
}

button,
image {
    color: #9ea8c7;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
