/*
*
* name: Kanagawa
* author: Tommaso Laurenzi (https://github.com/rebelot)
* slug: kanagawa
* slug-underscored: kanagawa
* system: base16
* variant: dark
*
*/

window {
    background-color: #1f1f28;
    border-color: #7e9cd8;
}

button,
image {
    color: #727169;
}

button:hover {
    background-color: rgba(113, 124, 124, 0.4);
}
