/*
*
* name: Heetch Dark
* author: Geoffrey Teale (tealeg@gmail.com)
* slug: heetch
* slug-underscored: heetch
* system: base16
* variant: dark
*
*/

window {
    background-color: #190134;
    border-color: #bd0152;
}

button,
image {
    color: #9c92a8;
}

button:hover {
    background-color: rgba(254, 255, 255, 0.4);
}
