/*
*
* name: Penumbra Light Contrast Plus
* author: Zachary Weiss (https://github.com/zacharyweiss)
* slug: penumbra-light-contrast-plus
* slug-underscored: penumbra_light_contrast_plus
* system: base16
* variant: light
*
*/

window {
    background-color: #fffdfb;
    border-color: #61a3e6;
}

button,
image {
    color: #9e9e9e;
}

button:hover {
    background-color: rgba(24, 27, 31, 0.4);
}
