/*
*
* name: Everforest Light (Medium)
* author: Márcio Sobel (https://github.com/marciosobel)
* slug: everforest-light-medium
* slug-underscored: everforest_light_medium
* system: base16
* variant: light
*
*/

window {
    background-color: #fdf6e3;
    border-color: #3a94c5;
}

button,
image {
    color: #829181;
}

button:hover {
    background-color: rgba(45, 53, 59, 0.4);
}
