/*
*
* name: Classic Light
* author: Jason Heeris (http://heeris.id.au)
* slug: classic-light
* slug-underscored: classic_light
* system: base16
* variant: light
*
*/

window {
    background-color: #f5f5f5;
    border-color: #6a9fb5;
}

button,
image {
    color: #505050;
}

button:hover {
    background-color: rgba(21, 21, 21, 0.4);
}
