/*
*
* name: ShadeSmear Light
* author: Kyle Giammarco (http://kyle.giammar.co)
* slug: shadesmear-light
* slug-underscored: shadesmear_light
* system: base16
* variant: light
*
*/

window {
    background-color: #dbdbdb;
    border-color: #376388;
}

button,
image {
    color: #1c1c1c;
}

button:hover {
    background-color: rgba(228, 228, 228, 0.4);
}
