/*
*
* name: OceanicNext
* author: https://github.com/voronianski/oceanic-next-color-scheme
* slug: oceanicnext
* slug-underscored: oceanicnext
* system: base16
* variant: dark
*
*/

window {
    background-color: #1b2b34;
    border-color: #6699cc;
}

button,
image {
    color: #a7adba;
}

button:hover {
    background-color: rgba(216, 222, 233, 0.4);
}
