/*
*
* name: Still Alive
* author: Derrick McKee (derrick.mckee@gmail.com), Tinted Theming (https://github.com/tinted-theming)
* slug: still-alive
* slug-underscored: still_alive
* system: base16
* variant: light
*
*/

window {
    background-color: #f0f0f0;
    border-color: #365eff;
}

button,
image {
    color: #605758;
}

button:hover {
    background-color: rgba(20, 12, 13, 0.4);
}
