/*
*
* name: Material Darker
* author: Nate Peterson
* slug: material-darker
* slug-underscored: material_darker
* system: base16
* variant: dark
*
*/

window {
    background-color: #212121;
    border-color: #82aaff;
}

button,
image {
    color: #b2ccd6;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
